html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-header {
    height: 100vh;
    background-image: url(../public/img/background.jpg);
    background-size: cover;
}

.Navbar {
    top: 0;
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.Navbar .logo {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Navbar .logo img {
    height: 50px;
    display: block;
    margin: 0 auto;
}


.nav-menu {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;

}

.nav-menu .nav-item {
    list-style: none;
    display: inline-block;
    position: relative;
}

.nav-menu .nav-item .nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    transition: 0.5;
}

.nav-menu .nav-item::after {
    z-index: 1;
    content: "";
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;

}

.nav-menu .nav-item:hover::after {
    width: 100%;
}

.login-button {
    padding: 10px 15px;
    list-style: none;
}

.nav-button {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 18px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
}

.login-button .nav-button:hover {
    color: #000;
}

.main {
    background-color: #ddd;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 60px 0 0 0;
}

#about {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.box-image {
    width: 40%;
}

.box-image img {
    display: block;
    margin: auto;
    border-radius: 20px;
    height: 400px;
    transition: transform 0.3s ease-in-out;
}

.box-image img:hover {
    transform: scale(1.02);
}

.box-deskripsi {
    width: 60%;
    margin: auto 0;
}

.box-deskripsi h2 {
    margin-bottom: 20px;
}

.box-deskripsi p {
    margin: 10px 0px;
}

#product {
    margin: 80px 0;
}

#product h2 {
    text-align: center;
    margin-bottom: 40px;
}

#product .box-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#product .box-product .card {
    margin: 0 10px 25px;
    background-color: #fff;
    border-radius: 10px;
    width: 23%;
    transition: transform 0.3s ease-in-out;
}

#product .box-product .card:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.card .card-header {
    border-bottom: 2px solid #3d3d3d;
    margin: 10px auto 0;
    width: 90%;
    overflow: hidden;
    position: relative;
}

.card .card-header .icon-heart {
    color: #d0d0d0;
    font-size: 25px;
    float: right;
    padding-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.card .card-header .icon-heart.red {
    color: red;
    font-size: 25px;
    float: right;
    padding-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.card .card-header .icon-heart:hover {
    color: red;
}

.card .card-header img {
    height: 250px;
    display: block;
    margin: auto;
}

.card .card-body {
    margin: 10px auto 20px;
    width: 90%;
    overflow: hidden;
    position: relative;
}

.card .card-body p {
    color: #3d3d3d;
    font-weight: 600;
    margin: 10px 0 20px;
}

#top_product h2 {
    text-align: center;
    margin-bottom: 50px;
}

#top_product .box_top {
    display: flex;
    gap: 5px;
}

.box_top .box_view {
    width: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.box_top .box_view .card_product {
    cursor: pointer;
    border-radius: 10px;
    height: 100px;
    width: 80%;
    background-color: #fff;
}

.box_top .box_view .card_product img {
    border-radius: 10px;
    height: 100px;
    display: block;
    margin: auto;
}

.box_top .box_preview {
    border-radius: 10px;
    position: relative;
    width: 45%;
    height: auto;
    background-color: #fff;
}

.box_top .box_preview img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}


.box_top .box_deskripsi {
    border-radius: 10px;
    width: 45%;
    height: auto;
    background-color: #fafafa;
    display: flex;
    align-items: center;
}

.box_top .box_deskripsi .box_text {
    width: 80%;
    margin: auto;
}

.box_deskripsi .box_text h4 {
    margin: 20px 0;
}

footer {
    background-color: #fff;
    height: auto;
    width: 100%;
}

footer .container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 10px;
}

footer .footer {
    margin: 20px 0;
    width: 30%;
    height: 200px;
}

footer .footer img {
    height: 60px;
    margin-bottom: 15px;
}

footer .footer .deskripsi_footer {
    color: #6f6f6f;
}

footer .footer h3 {
    text-align: center;
    font-size: 18px;
}

.footer p a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 20px 0px;
    font-weight: 600;
    color: #494949;
}

.footer ul {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.footer ul li {
    list-style: none;
    margin: 0px 10px;
    border: 1px solid #6f6f6f;
    padding: 8px 10px;
    border-radius: 100px;
}

.footer ul li .footer_icon {
    font-size: 20px;
    color: #6f6f6f;
}

footer .copyright {
    text-align: center;
    padding: 10px 0;
    background-color: #6f6f6f;
    color: #fff;
    font-weight: 700;
}


/* Humberger */
.menu-toggle {
    left: 0px;
    /* top: 1px; */
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #FFF;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: #FFF;
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: #FFF;
}

/* Mobile Resposive */
@media screen and (max-width:480px) {
    .nav-menu {
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        height: auto;
        margin: 20px 0;
        align-items: center;
        justify-content: space-evenly;
        z-index: 2;
        transform: translateY(-40%);
        transition: all 1s;
        opacity: 0;
        width: 100%;
        padding-bottom: 20px;
    }

    .nav-menu .nav-item {
        padding: 18px 0;
    }

    .nav-menu .nav-item .nav-link {
        color: #FFF;
    }

    .nav-menu.slide {
        opacity: 1;
        transform: translateY(-10%);
    }

    .menu-toggle {
        display: flex;
    }

    .Navbar .logo {
        width: 50%;
    }

    .Navbar .logo img {
        margin-left: 0;
    }

    .nav-menu .login-button {
        display: none;
    }

    .login_button_mobile {
        padding: 10px 15px;
        list-style: none;
    }

}